.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .boton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  .boton:hover {
    background-color: #0056b3;
  }